<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Update Patient</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" rel="stylesheet">
    <style>
        body {
            background-image: url('https://wallpaperaccess.com/full/3275630.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="#"> UPDATE PATIENT  </a>
    <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/}">Main Menu</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container my-5">
    <h3>Update Patient</h3>
    <div class="card">
        <div class="card-body">
            <div class="col-md-8">
                <form action="#"
                      th:action="@{/patients/update/{id}(id=${patient.patientId})}"
                      th:object="${patient}" th:method="post">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="patientId" class="col-form-label">Patient Id</label>
                            <input type="text" th:field="*{patientId}" class="form-control" id="patientId"
                                   placeholder="Patient Id" readonly>
                            <span th:if="${#fields.hasErrors('patientId')}" th:errors="*{patientId}"
                                  class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="fname" class="col-form-label">First Name</label>
                            <input type="text" th:field="*{fname}" class="form-control" id="fname"
                                   placeholder="First Name">
                            <span th:if="${#fields.hasErrors('fname')}" th:errors="*{fname}"
                                  class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="lname" class="col-form-label">Last Name</label>
                            <input type="text" th:field="*{lname}" class="form-control" id="lname"
                                   placeholder="Last Name">
                            <span th:if="${#fields.hasErrors('lname')}" th:errors="*{lname}"
                                  class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="sickness" class="col-form-label">Sickness</label>
                            <input type="text" th:field="*{sickness}" class="form-control" id="sickness"
                                   placeholder="Sickness">
                            <span th:if="${#fields.hasErrors('sickness')}" th:errors="*{sickness}"
                                  class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-8">
                            <label class="col-form-label">Hospital Department</label>
                            <select th:field="*{hospitalDepartment}">
                                <option value="">Choose Hospital Department..</option>
                                <option th:each="d: ${hospitalDepartments}" th:value="${d.hospDeptId}"
                                        th:text="${d.hospDeptName}"></option>
                            </select>
                        </div>
                        <div class="form-group col-md-8">
                            <input type="submit" class="btn btn-primary" value="Update Patient">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
